doctype html
html
  head
    meta(charset = 'UTF-8')
    title ToDo List
    link(rel='stylesheet' href='/stylesheets/index.css')
    body
      div.container
        h1 MY AWESOME TODO LIST

        form(action='/create', method='post')
          label(for='title') Add task : 
          input(type='text', name='title', placeholder='~Todo~')
          label(fo='time') When ? 
          input(type='text', name='time', placeholder='~When~')
          button(type='submit') SEND

        ul
          each task in tasks
            if task.time !== ''
              li <strong>#{task.title}</strong> <em> (when : #{task.time})</em>
                a(href= `${task.id}/delete`) Delete
                a(href= `${task.id}/edit`) Edit
            else
              li <strong>#{task.title}</strong>
                a(href= `${task.id}/delete`) Delete
                a(href= `${task.id}/edit`) Edit
                
